export(exprDepth)
export(funcDepth)
export(exprSize)
export(funcSize)
export(exprVisitationLength)
export(funcVisitationLength)
export(exprShapesOfDepth)
export(exprShapesOfMaxDepth)
export(exprsOfDepth)
export(exprsOfMaxDepth)
export(exprShapesOfSize)
export(exprShapesOfMaxSize)
export(exprsOfSize)
export(exprsOfMaxSize)
export(randomCall)
export(randexprGrow)
export(randexprFull)
export(randfunc)
export(randfuncRampedHalfAndHalf)
export(randexprTypedGrow)
export(randexprTypedFull)
export(randfuncTyped)
export(randfuncTypedRampedHalfAndHalf)
export(embedDataFrame)
export(subDataFrame)
export(geneticProgramming)
export(typedGeneticProgramming)
export(summary.geneticProgrammingResult)
export(symbolicRegression)
export(predict.symbolicRegressionModel)
export(makeEmptyRestartCondition)
export(makeFitnessStagnationRestartCondition)
export(makeFitnessDistributionRestartCondition)
export(makeLocalRestartStrategy)
export(makeStepsStopCondition)
export(makeEvaluationsStopCondition)
export(makeFitnessStopCondition)
export(makeTimeStopCondition)
export(`&.stopCondition`)
export(`|.stopCondition`)
export(`!.stopCondition`)
export(safeDivide)
export(safeSqroot)
export(safeLn)
export(ln)
export(positive)
export(ifPositive)
export(ifThenElse)
export(arithmeticFunctionSet)
export(expLogFunctionSet)
export(trigonometricFunctionSet)
export(mathFunctionSet)
export(numericConstantSet)
export(mse)
export(rmse)
export(normalize)
export(makeFunctionFitnessFunction)
export(makeRegressionFitnessFunction)
export(inputVariablesOfIndividual)
export(insertionSort)
export(mutateFunc)
export(mutateSubtree)
export(mutateNumericConst)
export(mutateFuncTyped)
export(mutateSubtreeTyped)
export(mutateNumericConstTyped)
export(multiNicheGeneticProgramming)
export(multiNicheSymbolicRegression)
export(makeHierarchicalClusterFunction)
export(plotFunctions)
export(funcToPlotmathExpr)
export(exprToPlotmathExpr)
export(makePopulation)
export(makeTypedPopulation)
export(print.population)
export(summary.population)
export(plotPopulationFitnessComplexity)
export(popfitness)
export(randchild)
export(randsubtree)
export(crossover)
export(crossoverexpr)
export(crossoverTyped)
export(crossoverexprTyped)
useDynLib(rgp)
export(functionSet)
export(inputVariableSet)
export(constantFactorySet)
export(c.functionSet)
export(c.inputVariableSet)
export(c.constantFactorySet)
export(makeTournamentSelection)
export(makeMultiObjectiveTournamentSelection)
export(makeComplexityTournamentSelection)
export(orderByParetoCrowdingDistance)
export(orderByParetoHypervolumeContribution)
export(commonSubexpressions)
export(numberOfCommonSubexpressions)
export(normalizedNumberOfCommonSubexpressions)
export(NCSdist)
export(sizeWeightedNumberOfCommonSubexpressions)
export(normalizedSizeWeightedNumberOfCommonSubexpressions)
export(SNCSdist)
export(differingSubexpressions)
export(numberOfDifferingSubexpressions)
export(sizeWeightedNumberOfDifferingSubexpressions)
export(trivialMetric)
export(normInducedTreeDistance)
export(normInducedFunctionDistance)
export(customDist)
export(st)
export(`%->%`)
export(print.sType)
export(sType)
export(`sType<-`)
export(hasStype)
export(`%::%`)
export(rangeTypeOfType)
export(rgpBenchmark)
export(evaluationsPerSecondBenchmark)
